@page "/docs/{*url}"

@using Westwind.AspNetCore.Markdown;

@model AvaloniaUI.Homepage.Pages.Docs.IndexModel
@{
  ViewData["Title"] = "Avalonia Docs";
}

@section Sidebar {
  <h1><span class="white">avalonia</span> docs</h1>
}

<article class="docs">
  <h1>@Model.Article.Title</h1>
  @Markdown.ParseHtmlString(Model.Article.Markdown, sanitizeHtml: true)
</article>
