@page "/docs/{*url}"

@using AvaloniaUI.Homepage.Models
@using Westwind.AspNetCore.Markdown;

@model AvaloniaUI.Homepage.Pages.Docs.IndexModel
@{
  ViewData["Title"] = "Avalonia Docs";
  Layout = "_DocsLayout";
}

@section Title {
  <span class="white">avalonia</span> docs
}

@section TableOfContents {
  @if (Model.Index is object)
  {
    <partial name="_TreeView.cshtml" for="Index" />
  }
}

<article class="docs">
  @if (Model.Article is object)
  {
    <h1>@Model.Article.Title</h1>
    @Markdown.ParseHtmlString(Model.Article.Markdown, sanitizeHtml: true)
  }
</article>
