/* Stylesheet for /index.html homepage */

/* == 3 small sections (XAML, Cross platform, Open source) == */

#home section.small h1 {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-auto-flow: row;
  align-items: center;
  margin-top: var(--negative-padding-small);
}

#home section.small h1 img {
  width: 96px;
  margin-left: auto;
}

#home section.small a.button {
  margin-top: auto;
}

/* Display small sections in 3 columns if > 1440px */

@media (min-width: 1440px) {
  #small-section-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  #home section.small h1 img {
    width: 120px;
  }
}

/* == Full-width sections == */

#home section.full-width img {
  max-width: 420px;
  align-self: center;
}

/* Display image in second column if width > 1024px */

@media (min-width: 1024px) {
  #home section.full-width {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  #home section.full-width img {
    margin-left: var(--padding-large);
    width: 420px;
    grid-column: 2;
    grid-row: 1 / span 3;
  }
}
