/* Stylesheet for /index.html homepage */

#home section {
  display: flex;
  padding: var(--padding-large);
  flex-direction: column;
  line-height: 1.3;
}

#home section h1 {
  margin: 0;
}

#home section a.button {
  align-self: flex-start;
  justify-self: left;
  margin-top: var(--padding-small);
  font-weight: normal;
  font-size: 1.32rem;
}

/* == Title/hero section == */

#home section.title {
  font-size: 1.32rem;
  font-weight: normal;
  line-height: 1.5;
  padding: var(--padding-large);
}

#home section.title h1 {
  font-size: 3.3rem;
  font-family: 'Montserrat Alternates', sans-serif;
  margin: var(--padding-small) 0 0 0;
}

#home section.title .avalonia-logo.large {
  margin: -14px 0 var(--padding-small) 2px;
}

#home section.title ul.button-bar {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: var(--padding-small);
  padding: 0;
}

#home section.title ul.button-bar li {
  margin: var(--padding-small) var(--padding-small) 0 0;
}

#home section.title a.button {
  margin-top: 0;
}

#home .hero-image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#home .hero-image-container img#hero-image {
  margin: auto;
}

#home .hero-image-container img#down {
  align-self: center;
  margin: var(--padding-small) 0;
  width: 50px;
}

/* Display hero section in 2 columns if > 1024px */

@media (min-width: 1024px) {
  #hero-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  #home .hero-image-container {
    padding-top: var(--nav-height);
  }
}

/* == 3 small sections (XAML, Cross platform, Open source) == */

#home section.small h1 {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-auto-flow: row;
  align-items: center;
  margin-top: var(--negative-padding-small);
}

#home section.small h1 img {
  width: 96px;
  margin-left: auto;
}

#home section.small a.button {
  margin-top: auto;
}

/* Display small sections in 3 columns if > 1440px */

@media (min-width: 1440px) {
  #small-section-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  #home section.small h1 img {
    width: 120px;
  }
}

/* == Full-width sections == */

#home section.full-width img {
  max-width: 420px;
  align-self: center;
}

/* Display image in second column if width > 1024px */

@media (min-width: 1024px) {
  #home section.full-width {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  #home section.full-width img {
    margin-left: var(--padding-large);
    width: 420px;
    grid-column: 2;
    grid-row: 1 / span 3;
  }
}
