#navbar {
  display: grid;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  margin: auto;
  max-width: var(--max-page-width);
  transition: background-color .3s ease;
}

#navbar .avalonia-logo {
  width: calc(var(--nav-height) - var(--padding-xsmall) * 2);
  height: calc(var(--nav-height) - var(--padding-xsmall) * 2);
  grid-column: 1;
  opacity: 0;
}

#navbar.bg .avalonia-logo, #navbar.open .avalonia-logo{
  opacity: 1;
}

#toplevel-menu ul {
  list-style: none;
  padding-inline-start: 0;
}

.nav-item::before {
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 3px;
  width: 100%;
  content: "";
  background: var(--green);
  transform: scaleY(0);
  transform-origin: top;
  transition: transform .3s ease;
}

.nav-item:hover::before {
  transform: scaleY(1);
  transform-origin: bottom;
}

.nav-item a {
  color: inherit;
  text-decoration: none;
}

.nav-item a:hover {
  color: var(--green);
  /* Use this to bold the hovered item, as setting the font weight caused the layout to change
     slightly. This property should be supported on all major browsers. */
  -webkit-text-stroke-width: 1px;
}

#toplevel-menu-check, #toplevel-hamburger {
   display: none;
}

/* Full-width navbar */

@media (min-width: 1400px) {
  #navbar {
    grid-template-columns: 1fr 2fr;
  }

  #navbar .avalonia-logo {
    margin: 0 calc(var(--padding-large) - 10px);
  }

  #navbar nav {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    grid-column: 2;
  }

  #navbar.bg {
    background-color: white;
  }

  #toplevel-menu {
    height: 100%;
    align-content: center;
  }

  #toplevel-menu ul {
    display: flex;
    justify-content: space-around;
  }

  .nav-item {
    margin: 0 15px;
    position: relative;
  }

  #toplevel-menu-toggle {
    display: none;
  }
}

/* Hamburger menu */

@media (max-width: 1400px) {
  :root {
    --nav-height: 70px;
  }

  #navbar {
    grid-template-columns: 1fr auto;
    padding: var(--padding-xsmall);
  }

  #navbar.bg {
    background-color: var(--bright-purple);
  }

  #navbar.open {
    background-color: var(--bright-purple);
  }

  #toplevel-menu-toggle {
    display: block;
    background: transparent;
    border: none;
    outline: none;
    fill: var(--green);
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    align-self: center;
    z-index: 1096;
  }

  #toplevel-menu {
    display: none;
    grid-column: 1 / span 2;
    /* Subtract padding-xsmall that is applied to #navbar */
    padding: 0 calc(var(--padding-large) - var(--padding-xsmall));
  }

  #navbar.open #toplevel-menu {
    display: block;
  }

  .nav-item {
    color: white;
    position: relative;
    font-size: 2rem;
    margin: var(--padding-small) 0;
  }
}

/* Shrink navbar as far as possible on very small screens */

@media (max-height: 700px) {
  :root {
    --nav-height: 60px;
  }
}
