/* Stylesheet for site-wide styles */

/* Variables */

:root {
  --background-gray1: rgb(230, 230, 230);
  --background-gray2: rgb(242, 242, 242);
  --bright-purple: rgb(140, 69, 171);
  --dark-purple: rgb(97, 48, 120);
  --green: rgb(0, 197, 150);
  --padding-large: 90px;
  --padding-small: 30px;
  --padding-xsmall: 10px;
  --negative-padding-small: -30px;
  --max-page-width: 1920px;
  --nav-height: 90px;
}

/* Elements */

html {
  font-size: 14pt;
  font-weight: 300;
  background-color: #404040;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.page {
  background-color: white;
  margin: auto;
  max-width: var(--max-page-width);
}

h1 {
  font-size: 2.25rem;
  font-weight: bold;
  color: var(--bright-purple);
}

strong {
  font-weight: bold;
}

a {
  color: inherit;
}

a.button {
  background-color: transparent;
  border-color: var(--green);
  border-width: 2pt;
  border-radius: 28px;
  border-style: solid;
  color: inherit;
  display: inline-block;
  text-decoration: none;
  padding: var(--padding-xsmall) var(--padding-small);
}

a.button:hover {
  background-color: var(--green);
}

/* Reduce font size and padding if width < 425px */

@media (max-width: 425px) {
  :root {
    --padding-large: 30px;
    --padding-small: 20px;
    --padding-xsmall: 10px;
    --negative-padding-small: -20px;
  }

  html {
    font-size: 12pt;
  }
}

/* Colors */

.gray1 {
  background: var(--background-gray1)
}

.gray2 {
  background: var(--background-gray2)
}

.purple-gradient {
  background: linear-gradient(90deg, var(--dark-purple), var(--bright-purple));
  color: white;
}

.purple-gradient h1 {
  color: white;
}

/* Images */

.avalonia-logo {
  background-image: url(/images/logo.svg);
  background-repeat: no-repeat;
}

.avalonia-logo.large {
  width: 160px;
  height: 160px;
}

.img-right {
  display: flex;
  align-items: center;
}

.img-right img {
  margin-left: auto;
}

/* Footer */
footer {
  padding: var(--padding-large);
}

footer ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

footer li {
  height: 43px;
  padding: 17px 0 0 80px;
}

footer li.email {
  background-image: url(/images/email.svg);
  background-repeat: no-repeat;
}

footer li.email a {
  text-decoration: none;
}

footer li.address {
  margin: var(--padding-small) 0 0 0;
  background-image: url(/images/location.svg);
  background-repeat: no-repeat;
}
