/* Stylesheet for site-wide styles */

/* Variables */

:root {
  --background-gray1: rgb(230, 230, 230);
  --background-gray2: rgb(242, 242, 242);
  --bright-purple: rgb(140, 69, 171);
  --dark-purple: rgb(97, 48, 120);
  --green: rgb(0, 197, 150);
  --padding-large: 90px;
  --padding-small: 30px;
  --padding-xsmall: 10px;
  --negative-padding-small: -30px;
  --nav-height: 156px;
}

/* Elements */

html {
  font-size: 14pt;
  font-weight: 300;
  background-color: #404040;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.page {
  background-color: white;
  margin: auto;
  max-width: 1920px;
}

h1 {
  font-size: 2.25rem;
  font-weight: bold;
  color: var(--bright-purple);
}

strong {
  font-weight: bold;
}

a.button {
  background-color: transparent;
  border-color: var(--green);
  border-width: 2pt;
  border-radius: 28px;
  border-style: solid;
  color: inherit;
  display: inline-block;
  text-decoration: none;
  padding: var(--padding-xsmall) var(--padding-small);
}

a.button:hover {
  background-color: var(--green);
}

/* Reduce font size and padding if width < 425px */

@media (max-width: 425px) {
  :root {
    --padding-large: 30px;
    --padding-small: 20px;
    --padding-xsmall: 10px;
    --negative-padding-small: -20px;
  }

  html {
    font-size: 12pt;
  }
}

/* Colors */

.gray1 {
  background: var(--background-gray1)
}

.gray2 {
  background: var(--background-gray2)
}

.purple-gradient {
  background: linear-gradient(90deg, var(--dark-purple), var(--bright-purple));
  color: white;
}

.purple-gradient h1 {
  color: white;
}

/* Images */

.avalonia-logo {
  background-image: url(/images/logo.svg);
}

.avalonia-logo.large {
  width: 160px;
  height: 160px;
}

.img-right {
  display: flex;
  align-items: center;
}

.img-right img {
  margin-left: auto;
}

/* Navbar */
header.toplevel {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  margin: auto;
  max-width: 1920px;
  height: var(--nav-height);
  transition: background-color .3s ease;
}

header.toplevel.bg {
  background-color: white;
  background-image: url(/images/logo.svg);
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: 80px center;
}

header.toplevel nav {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100%;
  align-content: center;
}

header.toplevel nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  grid-column: 2;
}

.nav-item {
  margin: 0 15px;
  position: relative;
}

.nav-item::before {
  position: absolute;
  left: 0;
  bottom: -30px;
  height: 3px;
  width: 100%;
  content: "";
  background: var(--green);
  transform: scaleY(0);
  transform-origin: top;
  transition: transform .3s ease;
}

.nav-item:hover::before {
  transform: scaleY(1);
  transform-origin: bottom;
}

.nav-item a {
  color: inherit;
  text-decoration: none;
}

.nav-item a:hover {
  color: var(--green);
  /* Use this to bold the hovered item, as setting the font weight caused the layout to change
     slightly. This property should be supported on all major browsers. */
  -webkit-text-stroke-width: 1px;
}
