@page
@{
    ViewData["Title"] = "Contributing";
    Layout = "_HeroLayout";
}

@section Sidebar {
  <h1>contributing</h1>
  <p>
    Avalonia is an Open Source project and welcomes contributions from the community! Find out how to build avalonia and
    contribute to the project.
  </p>
}

@section HeroContent {
  <div class="two-column">
    <div>
      <p>
        <strong>
          Before You Start!
        </strong>
      </p>
      <p>
        Drop into our <a href="https://gitter.im/AvaloniaUI/Avalonia">gitter chat room</a> and let us know what you're
        thinking of doing. We might be able to give you guidance or let you know if someone else is already working on the
        feature.
      </p>
    </div>
    <img id="hero-image" src="~/images/heroes/homepage.svg">
  </div>
}

<section class="with-img-right-responsive purple-gradient">
  <h1>Building Avalonia</h1>
  <p>
    Avalonia's source code is hosted on <a href="https://github.com/AvaloniaUI/Avalonia">GitHub</a> and can be built
    on any operating system that runs <a href="https://dotnet.microsoft.com/">.NET Core</a>,
    <a href="https://dotnet.microsoft.com/learn/dotnet/what-is-dotnet-framework">.NET Framework</a> or
    <a href="https://www.mono-project.com/">Mono</a>.
  </p>
  <p>
    Refer to the <a href="https://github.com/AvaloniaUI/Avalonia/docs/build.md">Build instructions</a> in the reposiory for instructions
    on how to build Avalonia on your operating system.
  </p>
  <img class="dock-right-responsive" src="~/images/heroes/building.svg">
</section>

<section>
  <h1>Contribution Guide</h1>
  <p>
    Our <a href="https://github.com/AvaloniaUI/Avalonia/docs/contributing.md">contribution guide</a> gives guidelines on
    how to contribute to Avalonia, including best practises for code formatting, git commits and pull requests. 
  </p>
  <p>
    Give it a read before embarking on your journey as an Avalonia contributor - we're waiting for you!
  </p>
</section>
