@page
@{
    ViewData["Title"] = "Avalonia Support";
}

@section Sidebar {
  <h1><span class="white">avalonia</span> support</h1>
  <p>
    Mint ditat od que accumet acculles es nonsequi quis vent ommod quo quam quas eosanducil enis
    volorrovitem.
  </p>
  <ul class="button-bar">
    <li><a class="button" href="/docs/quickstart">Get started</a>
    <li><a class="button" href="/support">Get support</a>
  </ul>
}

@section HeroContent {
  <div class="two-column">
    <div>
      <p>
        <strong>
          “Mint ditat od que vent accumet acculles es nonsequi quis vent ommod quo quam quas
          eosanducil enis volorrovitem faceat ilis repe enem nihite corro et quis et ut perferciunti dolorum
          et facestium int ommodia.”
        </strong>
      </p>
      <p>
        Busdae veria pelenti untistrum eos aliquaeptae enita quam non con cus. Suntius alignat
        ationsequam, od
      </p>
    </div>
    <img id="hero-image" src="~/images/heroes/support.svg">
  </div>
}

<section class="purple-gradient">
  <h1>Heading</h1>
  Ro et enimus essincimossi ipsapernam ex ent res audaeris simet digni rerum cus et ra nonesequi
  totatus apienim quatium as idescipit eiust la cum ullam, solorrum queOccae prat ersped quias sum
  quuntem si re pre odi si natiuribus quassiti vendisinte volorest occus evenis veri non conse enecus.
</section>
<section>
  <h1>Heading</h1>

  <h2>Subheading</h2>
  Ro et enimus essincimossi ipsapernam ex ent res audaeris simet digni rerum cus et ra nonesequi
  totatus apienim quatium as idescipit eiust la cum ullam, solorrum queOccae prat ersped quias sum
  quuntem si re pre odi si natiuribus quassiti vendisinte volorest occus evenis veri non conse enecus.

  <h2>Subheading</h2>
  Ro et enimus essincimossi ipsapernam ex ent res audaeris simet digni rerum cus et ra nonesequi
  totatus apienim quatium as idescipit eiust la cum ullam, solorrum queOccae prat ersped quias sum
  quuntem si re pre odi si natiuribus quassiti vendisinte volorest occus evenis veri non conse enecus.
</section>
