@page
@{
  ViewData["Title"] = "Avalonia Support";
}

@section Sidebar {
  <h1><span class="white">avalonia</span> support</h1>
  <p>
    Learn how to get support for Avalonia.
  </p>
  <ul class="button-bar">
    <li><a class="button" href="/docs/quickstart">Get started</a>
    <li><a class="button" href="/support">Get support</a>
  </ul>
}

@section HeroContent {
  <div class="two-column">
    <div>
      <p>
        <strong>
          Need help building an Avalonia application? Whether you're an enthusiast or a company
          making a commercial product, you have somewhere to turn.
        </strong>
      </p>
      <p>
        There are a number of support options for Avalonia, including paid support and custom
        development via AvaloniaUI OÜ and community support via GitHub issues and our Gitter
        chatroom.
      </p>
    </div>
    <img id="hero-image" src="~/images/heroes/support.svg">
  </div>
}

<section class="purple-gradient">
  <h1>AvaloniaUI OÜ</h1>
  <p>
    AvaloniaUI OÜ is a company formed in 2020 by a group of core Avalonia developers, including
    Steven Kirk (<a href="https://github.com/grokys">@@grokys</a>),
    Nikita Tsukanov (<a href="https://github.com/kekekeks">@@kekekeks</a>) and
    Dan Walmsley (<a href="https://github.com/danwalmsley">@@danwalmsley</a>). Our goal is to ensure
    the future of Avalonia development and support commercial projects building on the Avalonia
    framework.
  </p>
</section>
<section>
  <h1>Avalonia Support</h1>
  <p>
    AvaloniaUI OÜ offers paid monthly and yearly support packages for companies who are developing
    with Avalonia. With a support package, you can be sure to get timely responses to your questions
    from the core team, priority bug fixes, and a hand in deciding future feature development.
  </p>
  <p>
    Email us at <a href="mailto:team@avaloniaui.net">team@avaloniaui.net</a> for more information.
  </p>
</section>
<section class="purple-gradient">
  <h1>Consulting</h1>
  <p>
    AvaloniaUI OÜ also offers consulting and custom development to companies who want to take
    advantage of our expertise.
  </p>
  <p>
    Email us at <a href="mailto:team@avaloniaui.net">team@avaloniaui.net</a> for more information.
  </p>
</section>
<section>
  <h1>Community Support</h1>
  <p>
    Drop into our <a href="https://gitter.im/AvaloniaUI/Avalonia">gitter chat room</a> to to talk
    about Avalonia and get help from the community and core developers.
  </p>
  <p>
    Or if you have a problem, open an issue on our
    <a href="https://github.com/AvaloniaUI/Avalonia/issues">GitHub Repository</a>.
  </p>
</section>
