html {
  box-sizing: border-box;
  font-size: 14pt;
  font-weight: 300;
  line-height: 1.3;
  background-color: #404040;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.page {
  background-color: white;
  margin: auto;
  max-width: var(--max-page-width);
}

h1 {
  font-size: 2.25rem;
  font-weight: bold;
  color: var(--bright-purple);
}

strong {
  font-weight: bold;
}

a {
  color: inherit;
}

  a.button {
    align-self: flex-start;
    background-color: transparent;
    border-color: var(--green);
    border-width: 2pt;
    border-radius: 28px;
    border-style: solid;
    color: inherit;
    display: inline-block;
    font-size: 1.32rem;
    font-weight: normal;
    justify-self: left;
    padding: var(--padding-xsmall) var(--padding-small);
    text-decoration: none;
  }

    a.button:hover {
      background-color: var(--green);
    }

code {
  background-color: var(--gray2);
  font-family: 'Source Code Pro', monospace;
  font-size: 0.9rem;
  font-weight: normal;
  padding: 0 6px;
  border-radius: 4px;
  word-break: break-word;
}

pre {
}

pre code {
  font-size: 0.8rem;
}

img {
  max-width: 100%;
}

dt.icon {
  display: none;
}

dd.icon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  opacity: 0.5;
}

dd.icon.date::before {
  content: "\f073\00a0\00a0";
}

dd.icon.person::before {
  content: "\f007\00a0\00a0";
}

dd.icon.category::before {
  content: '\f02e\00a0\00a0';
}

/* Reduce font size if width < 425px */

@media (max-width: 425px) {
  html {
    font-size: 12pt;
  }
}
