.bg-gray1 {
  background: var(--gray1)
}

.bg-gray2 {
  background: var(--gray2)
}

.white {
  color: white;
}

.purple-gradient {
  background: linear-gradient(90deg, var(--dark-purple), var(--bright-purple));
  color: white;
}

  .purple-gradient h1 {
    color: white;
  }

.gray-gradient {
  background: linear-gradient(45deg, white, var(--gray3));
}
