footer {
  padding: var(--padding-large);
}

  footer ul {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
  }

  footer li {
    height: 43px;
    padding: 17px 0 0 80px;
  }

    footer li.email {
      background-image: url(/images/email.svg);
      background-repeat: no-repeat;
    }

      footer li.email a {
        text-decoration: none;
      }

    footer li.address {
      margin: var(--padding-small) 0 0 0;
      background-image: url(/images/location.svg);
      background-repeat: no-repeat;
    }
