{{ partial "head.html" .}}

<link rel="stylesheet" href="css/home.css">

<body id="home">
  {{ partial "navbar.html" . }}

  <div class="page">
    <div class="hero-container">
      <section class="sidebar purple-gradient">
        <div class="avalonia-logo large"></div>
        <h1>avalonia</h1>
        <p>A cross platform XAML Framework for .NET Framework, .NET Core and Mono At quisi rem quatio. Imporio incipsa
          sum faccus aceatae optiae veriossit repedis et fugiant adia dolor acepell abore, cum quia paris nest quae
          de es ipsant</p>

        <ul class="button-bar">
          <li><a class="button" href="/docs/quickstart">Get started</a>
          <li><a class="button" href="/support">Get support</a>
        </ul>
      </section>

      <div class="hero-content">
        <img id="hero-image" src="/images/home/hero.svg">
        <img id="down" src="images/down-chevron.svg">
      </div>
    </div>

    <div id="small-section-container">
      <section id="xaml" class="small gray1">
        <h1>XAML <img src="/images/home/xaml.svg"></h1>
        <p><strong>Avalonia uses a XAML dialect that should feel immediately familiar to anyone coming from WPF, UWP and
            Xamarin Forms.</strong>
          <p>Avalonia supports binding, MVVM, lookless controls and data templates just as you’d expect from a XAML
            framework.</p>
          <a class="button" href="/docs/quickstart/xaml">Find out more</a>
      </section>

      <section id="xplat" class="small gray2">
        <h1>Cross platform <img src="/images/home/xplat.svg"></h1>
        <p><strong>We support Windows, Linux and OSX with experimental mobile support for Android and iOS.</strong>
          <p>We currently have Win32, GTK3 and MonoMac windowing backends plus Direct2D and Skia renderers.</p>
          <a class="button" href="/docs/quickstart">Find out more</a>
      </section>

      <section id="oss" class="small gray1">
        <h1>Open Source <img src="/images/home/oss.svg"></h1>
        <p><strong>Avalonia is developed by a global community of enthusiasts in our GitHub repository and in our gitter
            channel.</strong>
          <p>Everything is done in the open and we’re always looking for new contributors. Drop by and say hi!</p>
          <a class="button" href="/contributing">Find out more</a>
      </section>
    </div>

    <section id="getting-started" class="full-width">
      <h1>Getting started</h1>
      <div>
        <p>See our quickstart guide for information on how to get started with Avalonia using Visual Studio and .NET
          core.</p>
        <p>More IDEs and editors coming soon.</p>
      </div>
      <a class="button" href="/docs/quickstart">Get started</a>
      <img src="/images/home/getting-started.svg">
    </section>

    <section id="support" class="full-width purple-gradient">
      <h1>Getting support</h1>
      <p>Ro et enimus essincimossi ipsapernam ex ent res audaeris simet digni rerum cus et ra nonesequi
        totatus apienim quatium as idescipit eiust la cum ullam, solorrum queOccae prat ersped quias sum
        quuntem si re pre odi si natiuribus quassiti vendisinte volorest occus evenis veri non conse enecus.</p>
      <a class="button" href="/support">Get support</a>
      <img src="/images/home/getting-support.svg">
    </section>

    <!-- <section id="featured-1" class="full-width">
      <h1>Featured product</h1>
      <p>Ro et enimus essincimossi ipsapernam ex ent res audaeris simet digni rerum cus et ra nonesequi
        totatus apienim quatium as idescipit eiust la cum ullam, solorrum queOccae prat ersped quias sum
        quuntem si re pre odi si natiuribus quassiti vendisinte volorest occus evenis veri non conse enecus.</p>
      <img src="/images/home/clients/gritgene-ui.png">
    </section> -->

    {{ partial "footer.html" . }}
  </div>
</body>

</html>
