@page
@{
  ViewData["Title"] = "Avalonia Blog";
}

@section Sidebar {
  <h1><span class="white">avalonia</span> blog</h1>
}

<section>
  <h1>Hello World!</h1>
  <p>
    Ro et enimus essincimossi ipsapernam ex ent res audaeris simet digni rerum cus et ra nonesequi
    totatus apienim quatium as idescipit eiust la cum ullam, solorrum queOccae prat ersped quias sum
    quuntem si re pre odi si natiuribus quassiti vendisinte volorest occus evenis veri non conse enecus.
  </p>
</section>

<section class="purple-gradient">
  <h1>Hello World!</h1>
  <p>
    Ro et enimus essincimossi ipsapernam ex ent res audaeris simet digni rerum cus et ra nonesequi
    totatus apienim quatium as idescipit eiust la cum ullam, solorrum queOccae prat ersped quias sum
    quuntem si re pre odi si natiuribus quassiti vendisinte volorest occus evenis veri non conse enecus.
  </p>
</section>
