@model Westwind.AspNetCore.Markdown.MarkdownModel
@{
  ViewData["Title"] = Model.Title;
  Layout = "_DocsLayout";
}

@section Title {
  <span class="white">avalonia</span> blog
}

@section TableOfContents {
  @* TODO *@
}

<article class="blog-post">
  <h1>@Model.Title</h1>
  @Model.RenderedMarkdown
</article>
