@model Westwind.AspNetCore.Markdown.MarkdownModel

@section Sidebar {
  <h1><span class="white">avalonia</span> blog</h1>
}

<article class="blog-post">
  <h1>@Model.Title</h1>
  @Model.RenderedMarkdown
</article>
