@model Westwind.AspNetCore.Markdown.MarkdownModel
@{
  ViewBag.Title = Model.Title;
  Layout = "_Layout";
}

@section Sidebar {
  <h1>avalonia</h1>
}

@section HeroContent {
  @Model.RenderedMarkdown
}

