@* Layout for docs and blogs *@


<partial name="_Head.cshtml"/>

<body>
  <partial name="_Navbar.cshtml" />
  <div class="page docs">
    <div class="toc">
      <h1 class="expander">@RenderSection("Title")</h1>
      <div class="toc-content">
        @RenderSection("TableOfContents")
      </div>
    </div>
    @RenderBody();
  </div>
</body>
</html>
