<footer class="bg-gray1">
  <ul>
    <li class="email"><a href="mailto:team@avaloniaui.net">team@avaloniaui.net</a>
    <li class="address">AvaloniaUI OÜ, Ahtri 12, Tallinn 10151, Estonia
  </ul>
</footer>
