@* Layout for pages without a hero section, such as blogs and documentation *@


<partial name="_Head.cshtml"/>

<body>
  <partial name="_Navbar.cshtml"/>

  <div class="page">
    <div class="sidebar-container">
      <div class="sidebar gray-gradient">
        <a class="avalonia-logo large" href="/">Homepage</a>
        @RenderSection("Sidebar")
      </div>
      <div class="content">
        @RenderBody()
      </div>
    </div>
    <partial name="_Footer.cshtml"/>
  </div>
</body>
</html>
