@* Layout for pages with a hero section, such as index and support *@

<partial name="_Head.cshtml" />

<body>
  <partial name="_Navbar.cshtml"/>

  <div class="page">
    <div class="hero-container">
      <div class="sidebar fixed @(ViewData["SidebarBackground"] ?? "gray-gradient")">
        @RenderSection("Sidebar")
      </div>
      <div class="hero-content">
        @RenderSection("HeroContent")
      </div>
    </div>
    <div class="content">
      @RenderBody()
    </div>
    <partial name="_Footer.cshtml" />
  </div>
</body>
</html>
