<header id="navbar" class="scroll-listener">
  <div class="avalonia-logo"></div>

  <button class="menu-toggle" id="toplevel-menu-toggle" aria-label="Main menu">
    <svg viewBox="0 0 32 29" width="32" height="29">
      <rect width="90" height="3"></rect>
      <rect y="13" width="90" height="3"></rect>
      <rect y="26" width="90" height="3"></rect>
    </svg>
  </button>

  <nav id="toplevel-menu">
    <ul>
      <li class="nav-item"><a href="/blog">Blog</a></li>
      <li class="nav-item"><a href="/support">Support</a></li>
      <li class="nav-item"><a href="/docs">Documentation</a></li>
      <li class="nav-item"><a href="/contributing">Contributing</a></li>
      <li class="nav-item"><a href="/api">API</a></li>
      <li class="nav-item"><a href="https://github.com/AvaloniaUI/Avalonia">Source</a></li>
    </ul>
  </nav>
</header>
